body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #3b3a3a;
}

#canvas {
  width: 90vw;
  height: 90vh;
  display: block;
  border-radius: 12px;
  margin: auto;
  background-color: #494848;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}
